// * Account Settings
// *******************************************************************************

@import '../_custom-variables/pages';
@import '../_bootstrap-extended/include';

.api-key-actions {
  position: absolute !important;
  top: 0.75rem;
  @include app-ltr() {
    right: 0.5rem;
  }
}

// Account settings styles
.account-settings-wrapper {
  .nav-align-top {
    background: $card-bg;
    border-radius: $card-border-radius;

    .nav-pills {
      background-color: transparent;

      .nav-link {
        color: $body-color;

        &.active {
          background-color: $primary;
          color: $white;
        }
      }
    }
  }

  .card {
    margin-bottom: $grid-gutter-width;
  }
}

// Upload photo styles
.account-file-input {
  &:hover {
    cursor: pointer;
  }
}

// Form fields
.form-floating {
  &.form-floating-outline {
    label {
      background: $card-bg;
    }
  }
}
